body{
    background-image: url('BG.png');
    background-attachment: fixed;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}
.left{
    display: inline-block;
    /* border: 2px solid red; */
    position: absolute;
    left: 34px;
    top: 20px;
}
.left img{
    width: 10vw;
    border-radius: 6vw;
    filter: invert(100%);
}
.mid{
    display: block;
    width: 36%;
    margin: 12px auto;
    /* border: 2px solid red; */
}
.right{
    position: absolute;
    right: 34px;
    top: 22px;
    display: inline-block;
    /* border: 2px solid red; */
}
.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
    font-size: 23px;
}
.navbar li a{
    color: whitesmoke;
    text-decoration: none;
    padding: 30px 20px;
}
.navbar li a:hover,.navbar li a.active{
    text-decoration: underline;    
    color: red;
}
.btn{
    margin: 0px 6px;
    background-color: black;
    color: white;
    padding: 4px 10px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}
.btn:hover{
    background-color: white;
    color: black;
}
.container{
    /* border: 2px solid red; */
    margin: 102px 82px;
    padding: 55px;
    width: 30%;
    border-radius: 42px;
}
.container h1{
    text-align: center;
    padding: 20px;
}
.container button{
    display: block;
    width: 25%;
    margin: 20px auto ;
}
.form-group input{
    text-align: center;
    display: block;
    width: 320px;
    padding: 6px;
    border: 2px solid black;
    margin: 10px auto;
    font-size: 25px;
    border-radius: 20px;
}